# Build Files
build

## CMake Files
CMakeFiles
*.cmake
CMakeCache.txt
compile_commands.json

## Makefile Files
Makefile
Testing
**/*Test
*.a

# Ninja Files
.ninja_*
*.ninja

#logs
*.log

# VCPKG installation files
vcpkg_installed

# Dart Config (Fro some reason)
*.tcl

# Clangd Files
.cache

# VSCode Files
.vscode

# Code coverage reports
coverage

# Graphviz
graphs