# Build Files
build

## CMake Files
CMakeFiles
*.cmake
CMakeCache.txt
compile_commands.json

## Makefile Files
Makefile
Testing
**/*Test
*.a

# Dart Config (Fro some reason)
*.tcl

# Clangd Files
.cache

# VSCode Files
.vscode